.home {
    .home-card {
        border-color: #f08484;
        background-color: #F5F5F5;
    }
    .card-heading {
        border-color: #f08484;
        background-color: #fbdfdf;
        color: #b12a2a;
    }
}