.home {
    .home-card {
        border-color: #f08484;
        background-color: #F5F5F5;
    }
    .card-heading {
        border-color: #f08484;
        background-color: #fbdfdf;
        color: #b12a2a;
    }
    .portal{
        border-color: #f08484;
        color: #b12a2a;
        background-color: #fbdfdf;
        &.on-hover {
            background-color: #f08480a8
        }
       &__text {
           &.on-hover {
               text-decoration: underline;
           }
       }
    }
    
}
