$color-primary-light: #7ed5f6;
$color-primary-dark: #28b485;
$color-grey: #777;
$color-white: #fff;
$color-dark: #202027;
$color-hover-login: #39dc79;
$color-bg-login: #1c8adb;
$color-green: #5cdb8f;
$color-lightdark: #2f303a;
$color-blu: #1762a7;
$color-brown: #ff8000;
$color-orange: #fed330;
$size-def: 1.6rem;
