* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 16px; //Defines default font size based on px 1rem = 10px; default rem is 16p
}

body {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.v-toolbar {
  flex: 0;
}